# Logging configuration
LOGGER__FORMAT=pretty

# HTTP server configuration
HTTP_SERVER__HOST=0.0.0.0
HTTP_SERVER__PORT=3847

# CORS configuration
CORS__ALLOW_ORIGINS=["*"]
CORS__ALLOW_CREDENTIALS=true
CORS__ALLOW_METHODS=["*"]
CORS__ALLOW_HEADERS=["*"]

# Search configuration
SEARCH__DEFAULT_LIMIT=20
SEARCH__MAX_LIMIT=100
SEARCH__EARTH_RADIUS_METERS=6371000

# MongoDB configuration
MONGODB__ADDRESS=localhost:27017
MONGODB__USERNAME=
MONGODB__PASSWORD=
MONGODB__DATABASE=parking_db
MONGODB__COLLECTION=parkings
MONGODB__EXPIRED_SECS=7776000

# Parking data source configuration
PARKING_DATA_SOURCE__URL=https://lk.parking.mos.ru/api/3.0/parkings
PARKING_DATA_SOURCE__TIMEOUT_SECS=60

# File data source configuration
FILE_DATA_SOURCE__PATH=./dump.json
